.thing-show .row.primary .row-value .primary-value {
  font-family: Gentium, GFS Porson, Alexander, Noto Sans;
}

.garden-box.multiple_choice ol.choices li .val, .garden-box.video-pre-presentation ol.choices li .val {
  font-family: Gentium, GFS Porson, Alexander, Noto Sans;
}

.question-row .qquestion {
  font-family: Gentium, GFS Porson, Alexander, Noto Sans;
}

.garden-box .typing-wrapper .typing-type-here {
  font-family: Gentium, GFS Porson, Alexander, Noto Sans;
}
